

  

  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  .testimonial-container {
    position: fixed; /* Use fixed if you want it to stay in place on scroll */
    bottom: 10%; /* Positions the container 10% from the bottom */
    left: 0;
    right: 0;
    overflow: hidden;
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .testimonial-card {
    position: relative;
    top: 0; /* Remove the top 50% here to avoid vertical centering */
    min-width: 300px;
    margin: 0 16px;
    background: white;
  }
  
  
  
  .sos-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    transform: scale(1.2);
  }
  
  .social-links a {
    color: white;
    margin: 0 16px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #ff4444;
  }
  
  .nav-buttons:hover {
    background-color: #ff4444 !important;
    color: white !important;
    transition: all 0.3s ease;
  }
  

  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  mat-card{
    background-color:white;
  }